form(action="/user/login", role="form", method="post")
	input(type='hidden', name='_csrf', value="#{csrf_token}")

	label(for='email') Email
	input(type='email', name="email", placeholder='Email')

	label(for='password') Password
	input(type='password', name="password", placeholder='Password')
	br
	input(type='submit', value="Login")