extends ../../layout/doc_edit

block mainform
	fieldset.panel
		legend User
		label Username
		input(type="text", name="username", value=data.username)
		label Email
		input(type="text", name="email", value=data.email)
