//- Sidebar - menu toggle
a#menuLink(href="#menu", class="menu-link")
	//- Hamburger icon
	span

#menu
	.pure-menu.pure-menu-open
		a.pure-menu-heading(href="/admin") Hardwire

		ul
			li.menu-item-divided: a(href="/") Website
			li: a(href="/user/logout", title="Salir") Salir
