extends ../../layout/layout

block content
	section#list-Email
		h1 Emails
		a.pure-button(href="/admin/docs/Email/new"): b + New email

		if data.length !== 0
			table.pure-table
				thead
					tr
						th Account
						th Emailname
						th Email
						th Edit

				tbody
					each email in data
						tr
							td: a(href='/admin/docs/Email/'+ email._id)!= email.account
							td= email.username
							td= email.email
							td: a(href="/admin/docs/Email/" + email._id + "/edit") Edit

		p #{data.length} emails
